
<div class="alert alert-info" style="margin-bottom: 0;
text-align: center;">Please read <%= link_to "a letter from the developers", letter_path %>.</div>
<div class="jumbotron hero-spacer dashboard-form">
  <h1>Add a Price Alert</h1>
  <p style="text-align:center">Paste the URL of the product you want to track below and we'll notify you when it goes on sale.  Please be sure to use the url of the specific item page.
  </p>
  <%= bootstrap_form_for(@tracker) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <%= f.text_field :url, autofocus: true, hide_label: true %>
  <div class="form-submit">
    <%= f.submit "Start Tracking", class: "btn btn-outline-primary btn-outline-inverted center" %>
    <%= link_to "Confused?", help_path, class: "btn btn-outline-red btn-outline-inverted center", data: { :"no-turbolink" => "" } %>
  </div>
  <% end %>
</div>
<hr>
<div id="tracker-results">
  <div class="row">
    <h2>Your Tracked Items </h2>
    <div class="col-sm-offset-3 col-sm-6 center search-trackers">
      <input class="search form-control" placeholder="Search Your Alerts"></input>
    </div>
    <div class="col-sm-offset-3 col-sm-6 center search-trackers">
      <a class="sort btn btn-outline-primary col-sm-12 col-md-4 btn-outline-inverted center" data-sort="product-name">
        Sort by product name
      </a><!--
      --><a class="sort btn btn-outline-primary col-sm-12 col-md-4 btn-outline-inverted center" data-sort="price-orig">
        Sort by original price
      </a><!--
      --><a class="sort btn btn-outline-primary col-sm-12 col-md-4 btn-outline-inverted center" data-sort="price-current">
        Sort by current price
      </a>
    </div>
  </div>
  <div class="row col-xs-12">
    <ul class="list trackers">
      <% if @tracker_list.any? %>
      <%= render @tracker_list %>
      <% end %>
    </ul>
  </div>
</div>
<!-- /.row -->
<!-- /.row -->

<hr>
