<h1>Search Best Buy Product Prices by SKU Number</h1>

<% if @bestbuy %>

Name: <%= @bestbuy["products"][0]["name"]%>
<br>
Price: <%= @bestbuy["products"][0]["regularPrice"]%>

<% end %>

<%= bootstrap_form_for(@tracker) do |f| %>
  <%= f.text_field :url, label: "First Name" %>
  <%= f.text_field :name, autofocus: true, label: "First Name" %>
  <%= f.submit "Add Tracker" %>
<% end %>
