<div class="jumbotron hero-spacer">
    <h1>Welcome back!</h1>
    <p style="text-align:center">Paste the URL of the product you want to track below and we'll notify you when it goes on sale.</p>
    <h2 class="form-header">Product URL:</h2>
      <%= bootstrap_form_for(@tracker) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.text_field :url, autofocus: true, hide_label: true %>
        <div class="form-submit">
          <%= f.submit "start tracking", class: "btn btn-outline-primary btn-outline-inverted center" %>
        </div>
      <% end %>
</div>
<hr>
<div class="row col-xs-12">
  <h3>Your Tracked Items </h3>
<div id="tracker-results">
  <input class="search form-control" style="display:inline-block; width:150px; vertical-align: middle;" placeholder="Search products"></input>
    <a class="sort btn btn-outline-primary btn-outline-inverted center" style="vertical-align: middle;" data-sort="product-name">
      Sort by product name
    </a>
    <a class="sort btn btn-outline-primary btn-outline-inverted center" style="vertical-align: middle;" data-sort="price-orig">
      Sort by original price
    </a>
    <a class="sort btn btn-outline-primary btn-outline-inverted center" style="vertical-align: middle;" data-sort="price-current">
      Sort by current price
    </a>
  <ul class="list trackers">
    <% if @tracker_list.any? %>
        <%= render @tracker_list %>
    <% end %>
  </ul>
</div>
</div>
<!-- /.row -->
<!-- /.row -->

<hr>
