<div class="full-page-form col-md-offset-4 col-md-4">
  <h1 class="form-header">Sign Up</h1>
  <div class="form">
    <%= bootstrap_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <%= f.text_field :first_name, autofocus: true,  placeholder: "First Name", hide_label: true %>
      <%= f.text_field :last_name, placeholder: "Last Name", hide_label: true %>
      <%= f.email_field :email, hide_label: true, placeholder: "Email" %>
      <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: "Password" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", hide_label: true, placeholder: "Password Confirmation" %>

      <%= f.submit "Sign Up", class: "btn btn-primary" %>
    <% end %>
  </div>
  <div class="form-footer">
    Or <%= render "devise/shared/links" %>
  </div>
</div>

