<div class="full-page-form col-md-offset-4 col-md-4">
  <h1 class="form-header">Forgot your password?</h1>
  <div class="form">
    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= f.email_field :email, hide_label: true, autofocus: true, placeholder: "Email"  %>
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary btn-block"  %>
    <% end %>
  </div>
  <div class="form-footer">
    Or <%= render "devise/shared/links" %>
  </div>
</div>

