<!DOCTYPE html>
<style>
  .chicken {
    background-color: red!important;
    cursor: pointer;
  }
  .sandwich, .chicken.sandwich {
    background-color: yellow!important;
  }
  #scraper-loading-div {
    text-align: center;
    opacity: 0.8;
    color: white;
    padding-top: 100px;
    font-size: 35px;
    background: #000;
    width: 100%;
    height: 100%;
    z-index: 9999;
    top: 0;
    left: 0;
    position: fixed;
  }
  body {
    padding-top: 80px!important;
  }
  #scraper-toolbar {
    position: fixed;
    z-index: 9998;
    background: #eee;
    left: 0;
    right: 0;
    height: 80px;
    margin-top: -80px;
    text-align: center;
    font-size: 24px;
    padding-top: 15px;
    box-sizing: border-box;
  }
  #scraper-selection {
    display: inline-block;
    width: 300px;
    text-align: left;
    margin-left: 20px;
  }
</style>
<div id="scraper-toolbar" class="scraper-immune">
  <!-- must be harded coded for now because of modifications to base -->
  <%= link_to "Go back", "#{root_url}scraper" %> 
  <div id="scraper-selection">
    Selected price: <span id="scraper-current-price"></span>
  </div>
  <%= form_for(@tracker, url: "#{root_url}trackers", html: {class: "scraper-immune"}) do |f| %>
    <%= f.hidden_field :xpath %>
    <%= f.hidden_field :input_price %>
    <%= f.hidden_field :url, value: params[:url] %>
    <%= f.submit "SUBMIT" %>
  <% end %>
</div>
<div id="scraper-loading-div" class="scraper-immune">Loading...please wait</div>

<%=raw @page %>


<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>

<% # @note xpath algorithm is from http://stackoverflow.com/questions/2661818/javascript-get-xpath-of-a-node %>
<script>
function createXPathFromElement(elm) { 
  var allNodes = document.getElementsByTagName('*'); 
  var segs = []
  for (; elm && elm.nodeType == 1; elm = elm.parentNode) 
  { 
    if (elm.hasAttribute('id')) { 
      var uniqueIdCount = 0; 
      for (var n=0;n < allNodes.length;n++) { 
        if (allNodes[n].hasAttribute('id') && allNodes[n].id == elm.id) uniqueIdCount++; 
        if (uniqueIdCount > 1) break; 
      }; 
      if ( uniqueIdCount == 1) { 
        segs.unshift('id("' + elm.getAttribute('id') + '")'); 
        return segs.join('/'); 
      } else { 
        segs.unshift(elm.localName.toLowerCase() + '[@id="' + elm.getAttribute('id') + '"]'); 
      } 
    } 
    else if (elm.hasAttribute('class')) { 
      for (var i = 1, sib = elm.previousSibling; sib; sib = sib.previousSibling) { 
        if (sib.className == elm.getAttribute('class'))  i++;  // counting number of same class
      }; 
      // also adding in index for good measure
      // TODO this will probably not be always right because lack of parenthesis
      segs.unshift(elm.localName.toLowerCase() + '[@class="' + elm.getAttribute('class') + '"]' + '[' + i + ']'); 
    } 
    else { 
      for (var i = 1, sib = elm.previousSibling; sib; sib = sib.previousSibling) { 
        if (sib.localName == elm.localName)  i++; 
      }; 
      segs.unshift(elm.localName.toLowerCase() + '[' + i + ']'); 
    }; 
  }; 
  return segs.length ? '/' + segs.join('/') : null; 
};

var potato;
var scrapedPrice;
var SCRAPER_PRICE_REGEX = /^((sale|saleprice|price|US|USD)(:|-)?)?\$?(\d+(,\d{3})*(\.\d{2})?)?$/i
jq111 = jQuery.noConflict(true);

// before, was jq111(window).load()
jq111(document).ready(function(){
  // TODO should need this sometime soon... for IE 9 -
  // xml.setProperty("SelectionLanguage","XPath");

  console.log("document loaded!  scraping stuff active");

  // hiding loading page
  jq111('#scraper-loading-div').hide();

  // use mouseover because fires more when child goes to parent
  jq111('*:not(html, body, script, style, .scraper-immune, .scraper-immune *)').on("mouseover", function(event){
    event.preventDefault();
    jq111(potato).removeClass('chicken');
    var text = jq111(this).text();
    contents = jq111(this).contents();

    // make sure that at least the children have text
    if (text.trim() != '') {
      var hasText = false;
      // making sure this thing actually does contain text
      for (var i = 0; i < contents.length; i++)
      {
        // is it a text node?  and also not just whitespace?
        if (contents[i].nodeType == 3 && contents[i].nodeValue.trim() != ''){
          hasText = true;
          break;
        }
      }
      if (hasText)
      {
        potato = this;
        jq111(this).addClass('chicken');
        event.stopPropagation()
      }
    }
  });
  // use mouseover because fires more when child goes to parent
  jq111('*:not(html, body, script, style, .scraper-immune, .scraper-immune *)').on("click", function(event){
    event.preventDefault();
    jq111(potato).removeClass('chicken');
    var text = jq111(this).text();
    contents = jq111(this).contents();

    // make sure that at least the children have text
    if (text.trim() != '') {
      var hasText = false;
      // making sure this thing actually does contain text
      for (var i = 0; i < contents.length; i++)
      {
        // is it a text node?  and also not just whitespace?
        if (contents[i].nodeType == 3 && contents[i].nodeValue.trim() != ''){
          hasText = true;
          break;
        }
      }
      // validates whether it is a price.  detects string sale, sale price, price, (case insensitive)
      if (hasText && text.replace(/\s/g, "").search(SCRAPER_PRICE_REGEX) != -1)
      {
        var clean_price = text.replace(/\s/g, "").match(SCRAPER_PRICE_REGEX)[4].replace(",", "");
        // adding 00 if needed
        if (clean_price.indexOf(".") == -1)
        {
          clean_price = clean_price + ".00";
        }
        jq111(scrapedPrice).removeClass('chicken sandwich');
        potato = this;
        scrapedPrice = this;
        jq111('#tracker_xpath').val(createXPathFromElement(this));
        console.log(createXPathFromElement(this));
        jq111('#tracker_input_price').val(clean_price.replace(".", ""));
        jq111('#scraper-current-price').text(clean_price);
        jq111(this).addClass('chicken sandwich');
        event.stopPropagation()
      }
    }
  });
});
</script>