<li>
  <div class="media">
    <%= image_tag tracker.product.thumbnail || "http://upload.wikimedia.org/wikipedia/commons/0/0f/Cat-eo4jhx8y-100503-500-408_reasonably_small.jpg", class: "pull-left", height: 100, width: 100 %>
    <div class="media-body">
      <h4 class="media-heading"><%= tracker.name %></h4>
      <div class="media-price">
        Original: $<%= to_dollars(tracker.original_price) %>, 
        <span class="<%= price_class(tracker) %>">Current: $<%= to_dollars(tracker.product.current_price) %></span>
      </div>
      <div class="media-delete">
        <%= link_to "x", tracker, data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</li>