<li>
  <div class="media">
    <div class="thumbnail-wrapper pull-left" style="background-image:url('<%= tracker.product.thumbnail || "http://upload.wikimedia.org/wikipedia/commons/0/0f/Cat-eo4jhx8y-100503-500-408_reasonably_small.jpg" %>');"></div>
    <div class="media-body">
      <h4 class="media-heading"><%=tracker.name %></h4>
      <div class ="media-price">
        <span class="<%= price_class(tracker) %>">Current: $<%= to_dollars(tracker.product.current_price) %></span>
      </div>
      <div class="media-price">
       <span>Original: $<%= to_dollars(tracker.original_price) %></span>
      </div>
      <div class="media-buttons">
        <%= link_to "purchase", "http://"+tracker.product.url, :target=> "_blank", class: "btn btn-primary" %>
        <%= link_to "remove", tracker, data: { confirm: "Are you sure? If so, this item will no longer be tracked." }, method: :delete, class: "btn btn-danger" %>  
      </div>
    </div>
  </div>
</li>