<div class="color-bar">
</div>
<div class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" data-no-turbolink="" href="<%= root_url %>">Thriftster<sub class="private-beta">Private BETA</sub></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if signed_in? %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, <%= current_user.first_name %><b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Account", edit_user_registration_path %></li>
            <li class="divider"></li>
            <li><%= link_to "Sign out", destroy_user_session_path, method: "delete" %></li>
          </ul>
        </li>
        <% end %> 
        <!-- Is this still needed? -->
      </ul>
      <div class="pull-right">

      <%= link_to "Get the Bookmarklet", bookmarklet_path, class: "btn btn-primary navbar-btn" %>
      <% if signed_in? %>
        <%= link_to "Need Help?", help_path, class: "btn btn-default navbar-btn", data: { :"no-turbolink" => "" } %>
      <% else %>
        <%= link_to "Sign in", new_user_session_path, class: "btn btn-primary navbar-btn" %>
        <%= link_to "Sign up", signup_path, class: "btn btn-default navbar-btn" %>
      <% end %>
    </div>
    </div>
  </div>
</div>