<!DOCTYPE html>
<html>
<head>
  <title>Thriftster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    params[:controller], media: "all" %>
  <%= javascript_include_tag params[:controller] %>

  <% if custom_css_page? %>
  <%= javascript_include_tag 'home' %>
  <%= stylesheet_link_tag 'home' %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="google-site-verification" content="gNoYxkAvNEu18sUpJ3z-YlGDUGGAPEoBJzbIK_gmawg" />
  <meta name="og:image" content="<%= asset_path 'logoT.png' %>">
  <meta name="og:title" content="Thriftster - Price Alerts for Your Items">
  <meta property="og:site_name" content="Thriftster"/>
  <meta property="og:type" content="website" />
  <meta name="description" property="og:description" content="Thriftster offers free price alerts for your favorite products.  Simply provide us an url of the product and we will email you when it goes on sale." />
</head>

<% if custom_css_page? %>
<body data-no-turbolink>
<% end %>
  
  
<div id="main-wrapper">
  <%= render 'layouts/header' %>

  <% unless custom_css_page? %>
    <div class="container">
  <% end %>

    <% flash.each do |key, value| %>
      <% if key.to_s == "notice" %>
        <div class="alert alert-<%= key %> alert-success"><%= value %></div>
      <% elsif key.to_s == "alert" %>
        <div class="alert alert-<%= key %> alert-danger"><%= value %></div>
      <% else %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>

  <% unless custom_css_page? %>
    </div>
  <% end %>
</div>
  <%= render 'layouts/footer' %>

</body>
</html>
