<!DOCTYPE html>
<html>
<head>
  <title>Thriftster</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    params[:controller], media: "all" %>
  <%= javascript_include_tag params[:controller] %>

  <% if controller.controller_name == "static_pages" && controller.action_name == "home" %>
  <%= javascript_include_tag 'home' %>
  <%= stylesheet_link_tag 'home' %>
  <% end %>

  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <meta name="google-site-verification" content="gNoYxkAvNEu18sUpJ3z-YlGDUGGAPEoBJzbIK_gmawg" />
</head>

<% if controller.controller_name == "static_pages" && controller.action_name == "home" %>
<body data-no-turbolink>
<% end %>
  
  
<div id="main-wrapper">
  <%= render 'layouts/header' %>

  <% unless controller.controller_name == "static_pages" && controller.action_name == "home" %>
    <div class="container">
  <% end %>

    <% flash.each do |key, value| %>
      <% if key.to_s == "notice" %>
        <div class="alert alert-<%= key %> alert-success"><%= value %></div>
      <% elsif key.to_s == "alert" %>
        <div class="alert alert-<%= key %> alert-danger"><%= value %></div>
      <% else %>
        <div class="alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <% end %>
    <%= yield %>

  <% unless controller.controller_name == "static_pages" && controller.action_name == "home" %>
    </div>
  <% end %>
</div>
  <%= render 'layouts/footer' %>

</body>
</html>
